@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  --background-color: #fff;
  --blue-100: rgb(210, 227, 252);
  --blue-300: rgb(138, 180, 248);
  --blue-600: rgb(26, 115, 232);
  --blue-700: rgb(25, 103, 210);
  --blue-800: #0011ff;
  --gray-100: rgb(241, 243, 244);
  --gray-300: rgb(218, 220, 224);
  --gray-500: rgb(154, 160, 166);
  --gray-50: rgb(248, 249, 250);
  --gray-600: rgb(128, 134, 139);
  --gray-700: rgb(95, 99, 104);
  --gray-800: rgb(60, 64, 67);
  --gray-900: rgb(32, 33, 36);
  --link-color: rgb(88, 88, 88);
  background: var(--gray-50);
  color: var(--gray-900);
  word-wrap: break-word;
  font-family: "League Spartan", "Open Sans", Gill Sans, Calibri, sans-serif;

  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.payment-form {
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.payment-form--hidden {
  display: none;
}

.payment-form.dark {
  background-color: #f6f6f6;
}

.payment-form .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.payment-form .block-heading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.payment-form .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  color: RGBA(0, 0, 0, 0.45);
}

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009ee3;
}

.payment-form .form-payment {
  border-top: 2px solid #c6e9fa;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.payment-form .title {
  font-size: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.8em;
  font-weight: 400;
  padding-bottom: 8px;
}

.payment-form .products {
  background-color: #f7fbff;
  padding: 25px;
}

.payment-form .products .item {
  margin-bottom: 1em;
}

.payment-form .products .item-name {
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .item p {
  margin-bottom: 0.2em;
}

.payment-form .products .price {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
}

.payment-form .products .total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 19px;
  font-weight: 500;
  line-height: 1;
}

.payment-form .payment-details {
  padding: 25px 25px 15px;
  height: 100%;
}

.payment-form .payment-details label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #8c8c8c;
  text-transform: uppercase;
}

.payment-form button {
  margin-top: 0.6em;
  padding: 12px 0;
  font-weight: 500;
  background-color: #009ee3;
  margin-bottom: 10px;
}

.payment-form .mercadopago-button {
  width: 100%;
  padding: 8px 0;
}

.payment-form a,
.payment-form a:not([href]) {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #009ee3;
  cursor: pointer;
}

.payment-form a:not([href]):hover {
  color: #3483fa;
  cursor: pointer;
}

.shopping-cart--hidden {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 7px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #4b044e;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #33012d;
    border-radius: 20px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #550734;
  }