<div style="background-color: #1e023d; color: #ffffff; padding: 5px 0px 0px 0px; width: 100%; text-align: center;">
   
    <h4>Support</h4>
    <p style="font-size: 13px; padding: 0px 20px 0px 20px;">
        Contact us by the following means:<br>
        Mail: <a class="afooter" href="chicclosethenry@gmail.com">chicclosethenry@gmail.com</a><br>
    </p>
    <p style="background-color: #06010e; padding: 10px 0px 10px 0px; font-size: 12px !important;">
        © 2023 ChicCloset, All rights reserved.
    </p>
</div>